@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
body {
  font-family: 'League Spartan', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal-content {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px; /* Add border-radius for rounded corners */
}

.modal-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.modal-content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); */
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-content:hover::after {
  opacity: 1;
}

/* Loading.css */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 65, 81, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.barbell {
  position: relative;
  width: 100px;
  height: 100px; /* Adjusted height for better centering */
  animation: spin 2s linear infinite; /* Updated to spin animation */
}

.bar {
  position: relative;
  width: 10px;
  height: 100px;
  background-color: #ffffff;
  left: 50%; /* Center the bar */
  top: 50%; /* Center the bar */
  transform: translate(-50%, -50%) rotate(0deg); /* Adjusted transform */
  transform-origin: center center; /* Set the center of rotation */
}

.plate {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #ffffff;
}

.plate-top {
  top: 10px;
  left: -15px;
}

.plate-bottom {
  bottom: 10px;
  left: -15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Full rotation */
  }
}

.loading-text {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.loading-description {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.bg-custom-image {
  background-image: url('assets/gigachad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1; /* Set z-index for the background image */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Add a box shadow */

}

.bg-custom-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darker overlay color */
  mix-blend-mode: multiply; /* Darken the background image */
  z-index: -1; /* Set z-index for the overlay */
}

.bg-custom-image-routine {
  background-image: url('assets/therock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1; /* Set z-index for the background image */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Add a box shadow */

}

.bg-custom-image-routine::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darker overlay color */
  mix-blend-mode: multiply; /* Darken the background image */
  z-index: -1; /* Set z-index for the overlay */
}

.bg-custom-image-homepage {
  background-image: url('assets/homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1; /* Set z-index for the background image */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Add a box shadow */

}

.bg-custom-image-homepage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darker overlay color */
  mix-blend-mode: multiply; /* Darken the background image */
  z-index: -1; /* Set z-index for the overlay */
}

.bg-custom-image-duringroutine {
  background-image: url('assets/duringRoutine.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1; /* Set z-index for the background image */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Add a box shadow */

}

.bg-custom-image-duringroutine::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darker overlay color */
  mix-blend-mode: multiply; /* Darken the background image */
  z-index: -1; /* Set z-index for the overlay */
}
@media (min-width: 1024px) {
  .bg-custom-image {
    background-size: 100% auto; /* Maintain aspect ratio, fill width */
    background-position: center top; /* Shift slightly downward */
  }

  .bg-custom-image-routine {
    background-size: 100% auto; /* Maintain aspect ratio, fill width */
    background-position: center; /* Shift slightly downward */
  }

  .bg-custom-image-homepage {
    background-size: 100% auto; /* Maintain aspect ratio, fill width */
    background-position: center; /* Shift slightly downward */
  
  }
  .bg-custom-image-duringroutine {
    background-size: 100% auto; /* Maintain aspect ratio, fill width */
    background-position: center; /* Shift slightly downward */
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-dropdown {
  animation: fade-in 0.6s ease;
}